:root {
    --page-width: 512px;
}

body {
    font-size: 16px;
    font-family: Avenir Next, Geneva, sans-serif;
    @apply text-gray-900;
}

.content {
    max-width: var(--page-width);
    @apply mx-auto;
}

@media (min-width: 768px) {
    body {
        @apply px-0;
    }
}

h1 {
    @apply text-3xl;
    @apply w-full;
    @apply border-b;
    @apply border-gray-300;
    @apply mt-4;
    @apply mb-2;
    @apply mx-2;
    @apply px-6;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h2, h3, h4 {
    @apply px-8;
}

a {
    @apply text-teal-700;
    @apply underline
}
a:hover {
    @apply text-teal-500;
}
a:visited {
    @apply text-indigo-700;
}

p {
    @apply px-8;
    @apply mb-4;
    @apply break-words;
    @apply leading-relaxed;
}

ul {
    @apply mb-4;
    @apply list-disc;
    @apply px-6;
    @apply ml-8;
}

ul ul {
    @apply px-0;
}

blockquote {
    @apply mx-4;
    @apply my-2;
    @apply border-l-4;
    @apply border-gray-300;
    @apply bg-gray-100;
    @apply py-2;
    @apply italic;
}

blockquote p {
    @apply px-4;
    @apply m-0;
}

code {
    @apply bg-gray-200;
    @apply px-2;
    @apply rounded;
    @apply text-base;
    @apply text-gray-700;
}

pre code {
    @apply bg-transparent;
    @apply px-0;
}

.highlight {
    @apply mx-4;
    @apply border-gray-300;
    @apply border;
    @apply p-2;
    @apply px-4;
    @apply rounded-md;
}

p img {
    margin-left: -1rem;
    width: calc(100% + 2rem);
    max-width: var(--page-width);
}

.content .navigation {
    @apply bg-gray-100;
    @apply mx-4;
    @apply mb-4;
    @apply px-4;
    @apply py-2;
    @apply rounded-lg
}

.content .navigation * {
    @apply px-0;
}

.content .navigation ul {
    @apply mb-0;
}

